@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext");

.App {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}

/* ////////////////LandingPage/////////////////////////// */

.intro-wrapper {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  justify-content: center;
  margin-top: 30vh;
}

.landing-page {
  height: 100vh;
  width: 100vw;
}

.tagline {
  margin-top: 8vh;
  font-size: 2rem;
}

.intro-name {
  font-size: 4rem;
}

.arrows {
  max-width: 3vw;
  position: absolute;
  bottom: 2%;
}
.arrowright {
  max-width: 3vw;
  position: absolute;
  top: 10px;
  left: 4%;
  max-height: 30px;
  color: white;
  z-index: 1;
}

.switchsize {
  max-width: 3vw;
  position: absolute;
  top: 150px;
  left: 4%;
  max-height: 30px;
  color: white;
  z-index: 1;
}
.switchnumber {
  max-width: 3vw;
  position: absolute;
  top: 300px;
  left: 4%;
  max-height: 30px;
  color: white;
  z-index: 1;
}
.changeTheme {
  top: 50px;
  color: white;
  z-index: 1;
  position: absolute;
}
.arrowColorChangeButton {
  position: absolute;
}

/* ////////////////////////About Page/////////////////////// */

.about-page {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2em;
  height: 100vh;
  width: 100vw;
  background-color: white;
  text-align: left;
  position: relative;
}

.about-page-row {
  display: flex;
  flex-direction: row;
  align-content: space-evenly;
  width: 100vw;
  /* height: 90%; */
}

.about-component {
  margin-top: 10vh;
  justify-content: left;
  margin-left: 8vh;
  margin-right: 8vh;
  align-self: flex-start;
  width: 100%;
}

.tech-component {
  margin-top: 10vh;
  margin-right: 8vh;
  align-self: flex-start;
  margin-right: 8vh;
  align-content: flex-end;
  max-width: 50%;
}

.tech-content {
  margin-top: 8vh;
  font-size: 15pt;
  width: 100%;
}

.about-me-content {
  margin-top: 8vh;
  font-size: 12pt;
  max-width: 100%;
}
.tech-title {
  width: 100%;
}

/* /////////////////////////////////////////////FOOTER//////////////////////////////////// */

.footer {
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* flex-direction: row; */
  bottom: 0;
  position: absolute;
  width: 100vw;
  /* height: 10%; */
}

.footercontent {
  display: flex;
  color: #f0db4f;
  height: 10px;
  position: relative;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.scrollupdiv {
  right: 10px;
  position: absolute;
  font-size: 16px;
  color: white;
}

/* ///////////////////Particles///////////////////////////// */
.particles-canvas {
  position: absolute;
  left: 0;
  top: 0;
  /* z-index: -1; */
  /* width: 100vw;
  height: 100vh; */
}

/* /////////////////////Media Queries/////////// */

/* @media (max-width: 500px) {
  .footercontent {
    color: red;
  }
} */
